
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Play:wght@400;700&display=swap');

body {
background-color: mediumblue;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh;
}
button{
    margin:5vh 10vh;
    width: 10vw;
    height: 5vw;
    border: none;
    background-color: black;
    color: white;
    font-family: 'Commissioner', cursive;
}

h1 {
    text-align: center;
    font-size: 5vh;
    font-family: 'commissioner', cursive;
}
.btn1:hover{
    transform: rotate3d(0, 100, -100, 30deg);
}
.btn2:hover{
    transform: rotate(360deg);
    transition: 1s ;
}
.btn3:hover{
    transform: skew(-50deg);
    transition: 1s ;
}
.btn4:hover{
    transform:scale(1.5) ;
    transition: 1s ;
}